#game-wrapper
  #container.wrapper
    %canvas#canvas{width: "390", height: "390"}
#functions-wrapper
  #play-time
    #blocks
      = button_triangles("red")
      = button_triangles("blue")
      = button_triangles("green")
      = button_triangles("violet")
      = button_triangles("teal")
      = button_triangles("yellow")
    #homes
      = button_triangles("red")
      = button_triangles("blue")
      = button_triangles("green")
      = button_triangles("violet")
      = button_triangles("teal")
      = button_triangles("yellow")
