#topic-header
  Create new topic:
#new-topic
  = simple_form_for( topic, html: { class: 'form-horizontal' } ) do |f|
    = f.error_notification
    .form-inputs
      = f.input :title, required: true
      = f.input :content, required: true
    .form-actions
      = f.button :submit
