#topic-display
  #topic-header
    = topic.title
  #info.clearfix
    #author
      %p
        = "Topic by: #{topic.creator}"
    #when
      %p
        = "Last post #{time_ago_in_words(topic.created_at)} ago"
  #content
    = topic.content