#user
  %h1
    Profile of user:
  %h2
    = user.username
  %h3
    = user.email
  %h3
    Latest topics:
    #latest-topics
      %h4
        - user.topics.each do |t|
          = link_to "#{t.title}", t
  %h3
    Latest answers:
    #latest-topics
      %h4
        - user.answers.each do |a|
          = link_to "#{a.topic.title}", a.topic