
#game-wrapper
  #container.wrapper
    %canvas#canvas{width: "390", height: "390"}
#editor-functions
  #new-level.btn.btn-default
    = "create new level"
  #walls
    = button_triangles("wall")
    = button_triangles("square")
  #blocks
    = button_triangles("red")
    = button_triangles("blue")
    = button_triangles("green")
    = button_triangles("violet")
    = button_triangles("teal")
    = button_triangles("yellow")
  #homes
    = button_triangles("red")
    = button_triangles("blue")
    = button_triangles("green")
    = button_triangles("violet")
    = button_triangles("teal")
    = button_triangles("yellow")

:javascript
  new_level()
  editor()
